<div class="container" id="area_principal">
    <div id="postagem">
        <h2>Título da Postagem</h2>
        <span class= "data_postagem">Postado em 10 de Agosto de 2017</span>
        <img class="img_postagem" src="imagens/imagem1.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean placerat velit egestas, feugiat urna nec, cursus metus. 
            Etiam ac porta quam. Aenean massa velit, tempor ut ligula at, porttitor malesuada mi.
            Maecenas vel massa nec nibh pulvinar elementum a nec diam. In hac habitasse platea dictumst. 
            Morbi eget viverra lorem. Aliquam lectus est, sollicitudin eget lobortis a, interdum sed neque.
            Proin ipsum sapien, mollis sollicitudin lacus ac, dictum varius leo. In hac habitasse platea dictumst.
            Donec sit amet ornare lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Suspendisse molestie rutrum nulla faucibus interdum. Curabitur tincidunt lacus erat,
            non facilisis nisl lacinia eu. Pellentesque habitant morbi tristique senectus et netus et malesuada 
            fames ac turpis egestas. Aliquam iaculis nec tortor in malesuada. 
        </p>
        <span class="postado">Postado Por Thyago Oliveira</span>
    </div>

    <div id="postagem">
        <h2>Título da Postagem2</h2>
        <span class= "data_postagem">Postado em 10 de Agosto de 2017</span>
        <img class="img_postagem" src="../noticias/imagens/imagem2.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean placerat velit egestas, feugiat urna nec, cursus metus. 
            Etiam ac porta quam. Aenean massa velit, tempor ut ligula at, porttitor malesuada mi.
            Maecenas vel massa nec nibh pulvinar elementum a nec diam. In hac habitasse platea dictumst. 
            Morbi eget viverra lorem. Aliquam lectus est, sollicitudin eget lobortis a, interdum sed neque.
            Proin ipsum sapien, mollis sollicitudin lacus ac, dictum varius leo. In hac habitasse platea dictumst.
            Donec sit amet ornare lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Suspendisse molestie rutrum nulla faucibus interdum. Curabitur tincidunt lacus erat,
            non facilisis nisl lacinia eu. Pellentesque habitant morbi tristique senectus et netus et malesuada 
            fames ac turpis egestas. Aliquam iaculis nec tortor in malesuada. 
        </p>
        <span class="postado">Postado Por Thyago Oliveira</span>
    </div>

      <div id="postagem">
        <h2>Título da Postagem3</h2>
        <span class= "data_postagem">Postado em 10 de Agosto de 2017</span>
        <img class="img_postagem" src="imagens/imagem3.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean placerat velit egestas, feugiat urna nec, cursus metus. 
            Etiam ac porta quam. Aenean massa velit, tempor ut ligula at, porttitor malesuada mi.
            Maecenas vel massa nec nibh pulvinar elementum a nec diam. In hac habitasse platea dictumst. 
            Morbi eget viverra lorem. Aliquam lectus est, sollicitudin eget lobortis a, interdum sed neque.
            Proin ipsum sapien, mollis sollicitudin lacus ac, dictum varius leo. In hac habitasse platea dictumst.
            Donec sit amet ornare lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Suspendisse molestie rutrum nulla faucibus interdum. Curabitur tincidunt lacus erat,
            non facilisis nisl lacinia eu. Pellentesque habitant morbi tristique senectus et netus et malesuada 
            fames ac turpis egestas. Aliquam iaculis nec tortor in malesuada. 
        </p>
        <span class="postado">Postado Por Thyago Oliveira</span>
    </div>
</div>