    /*  Limpar Formatações Padrões */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color:lightgray;
}

h2 {
    color: #b9c941;
}
   
#area_principal {
    width: 720px;
    margin: 55px auto 10px auto;
}

#postagem {
    background: #FFF;
    padding: 10px;
    margin-bottom: 10px;
}


    /* Classes */
.container{
    margin-top: 15px;
}

.data_postagem {
    font-size: 14px;
    border-bottom: 1px solid #F4F4F4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img_postagem {
    float: left;
    margin: 0 10px 5px 0;
}

.postado {
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
}