<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">CNT Gaming</a>
        </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"routerLinkActive="active">
                        <a class="nav-link" routerLink="/inicio">Início</a>
                    </li>

                    <li class="nav-item active" routerLinkActive="active">
                        <a class="nav-link" routerLink="/noticias">Notícias</a>
                    </li>
                    <li class="nav-item active" routerLinkActive="active">
                        <a class="nav-link" routerLink="/times">Times</a>
                    </li>

                    <li class="nav-item active" routerLinkActive="active">
                        <a class="nav-link" routerLink="/jogadores">Jogadores</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <a routerLink="login" role="button" class="btn btn-outline-success" aria-pressed="true">Login</a>
                    <a routerLink="cadastro" role="button" class="btn btn-outline-success" aria-pressed="true">Cadastre-se</a>
                </form>
            </div>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>



